/* cursive font */
@font-face {
  font-family: 'Signature';
  src:  url('assets/font/photograph_signature-webfont.woff2') format('woff2'),
        url('assets/font/photograph_signature-webfont.woff') format('woff');
}
/* sans serif font */
@font-face {
  font-family: 'Raleway';
  font-weight: 300;
  src:  url('assets/font/Raleway-Light.woff2') format('woff2'),
        url('assets/font/Raleway-Light.woff') format('woff');
}

@font-face {
  font-family: 'Raleway';
  font-weight: 400;
  src:  url('assets/font/Raleway-Regular.woff2') format('woff2'),
        url('assets/font/Raleway-Regular.woff') format('woff');
}
@font-face {
  font-family: 'Raleway';
  font-style: italic;
  font-weight: 400;
  src:  url('assets/font/Raleway-Italic.woff2') format('woff2'),
        url('assets/font/Raleway-Italic.woff') format('woff');
}
@font-face {
  font-family: 'Raleway';
  font-weight: 600;
  src:  url('assets/font/Raleway-SemiBold.woff2') format('woff2'),
        url('assets/font/Raleway-SemiBold.woff') format('woff');
}
@font-face {
  font-family: 'Raleway';
  font-style: italic;
  font-weight: 600;
  src:  url('assets/font/Raleway-SemiBoldItalic.woff2') format('woff2'),
        url('assets/font/Raleway-SemiBoldItalic.woff') format('woff');
}

/* custom properties */
:root {
  --clr-primary: #92a376;
  --clr-secondary: #e5e9d7;
  --clr-accent: #6e001b;

  --ff-cursive: 'Signature', serif;
  --ff-text: 'Raleway', sans-serif;

  --shadow-card: 0px 13px 27px -5px rgba(50,50,93,0.25), 0px 8px 16px -8px rgba(0,0,0,0.3) , 0px -6px 16px -6px rgba(0,0,0,0.025);
  --shadow-button: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 1px 3px 1px;
  --shadow-text: -1px -1px 1px rgba(255,255,255,.1), 1px 1px 1px rgba(0,0,0,.5);;
}

/* simple reset */
*, *:before, *:after {
  box-sizing: border-box;
}
* {
  margin: 0;
}

/* style */
html {
  scroll-behavior: smooth; 
}
body {
  text-align: center;
  font-family: var(--ff-text);
}

.stop-scrolling {
  height: 100%;
  overflow: hidden;
}

/* header section */
header {
  background-color: var(--clr-primary);
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-image: url(assets/img/floral_header.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

header h2,
header h3,
header h4 {
  text-shadow: var(--shadow-text);
}

header img{
  width: 14rem;
  aspect-ratio: 14%;
  margin: 2em;
}
.tamu {
  margin-bottom: 4em;
}
.tamu > h4 {
  font-weight: 400;
}
.tamu > h3 {
  font-weight: 600;
}
/* button */
.button {
  background-color: var(--clr-accent);
  color: white;
  padding: 0.5em 1em;
  border-radius: 2em;
  text-decoration: none;
  box-shadow: var(--shadow-button);
  align-items: center;
  display: inline-flex;
}

.button_icon_a,
.button_icon_b,
.button_icon_c,
.button_icon_d {
  width: 1em;
	height: 1em;
	background-size: cover;
	background-repeat: no-repeat;
  background-position: center;
  margin-right: 0.5em;
}

.button_icon_a {
  background-image: url(assets/img/icon_invitation.png);
}
.button_icon_b {
	background-image: url(assets/img/icon_location.png);
}
.button_icon_c {
  background-image: url(assets/img/icon_play.png);
  margin: auto;
}
.button_icon_d {
  background-image: url(assets/img/icon_pause.png);
  margin: auto;
}

.button_music {
  background-color: var(--clr-accent);
  box-shadow: var(--shadow-button);
  opacity: 90%;

  width: 2em;
  height: 2em;
  margin: 0.6em;
  border-radius: 50%;

  display: grid;
  place-items: center;
  position: fixed;
  z-index: 5;
  right: 0;

  cursor: pointer;
  visibility: hidden;
}


/* main section */
main{
  padding: 1em 0 1em 0;
  background-color: var(--clr-secondary);
  display: grid;
  place-items: center;
}
/* quote - ayat */
.quote_opening {
  margin: 1em 1em;
  font-style: italic;
  max-width: 60ch;
}
.floral img {
  width: 10em;
}

.foto-main img{
  border-radius: 2em;
  margin: 2em 0.5em;
  box-shadow: var(--shadow-card);
  width: 85%;
}

/* wrapper card */
.borderCard {
  display: grid;
  place-items: center;

  margin: 2em 0.5em;
  width: 85vw;

  border: 1px solid var(--clr-accent);
  border-radius: 2em;
  border-style: double;
  border-width: 0.5em;
  box-shadow: var(--shadow-card);
}

.borderCard > * {
  padding: 2em 0.5em;
}

/* main -- nama mempelai */
.nama img {
  width: 200px;
  height: 300px;
  border-radius: 6em 6em;
  margin-bottom: 0.5em;
  border: 0.1em solid var(--clr-accent);
  box-shadow: var(--shadow-button);
}
.nama h1 {
  font-family: var(--ff-cursive);
  font-size: 2.5rem;
}
.text_opening {
  max-width: 60ch;
}

/* main -- Jadwal acara */

/* floralside */
.floralSide {
  position: relative;
}

.floralSide::before,
.floralSide::after {
  content: '';
  background-image: url(assets/img/floral_side.png);
  background-repeat: no-repeat;
  background-size: contain;

  width: 6em;
  height: 8em;

  display: block;
  position: absolute;
  z-index: 1;
  filter: drop-shadow(0px 1px 1px var(--clr-accent));
}
.floralSide::before {
  top: -2em;
  left: -2.5em;
}
.floralSide::after {
  bottom: -2em;
  right: -2.5em;
  transform: scaleX(-1) scaleY(-1);
}

/* lokasi section */
.lokasi {
  position: relative;
}
.lokasi:before {
  content: "";
  display: block;
  width: 35%;
  height: 1px;
  background:var(--clr-accent);
  left: 0;
  top: 50%;
  position: absolute;
}
.lokasi:after {
  content: "";
  display: block;
  width: 35%;
  height: 1px;
  background: var(--clr-accent);
  right: 0;
  top: 50%;
  position: absolute;
}

/* box tanggal */
.tanggal {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(3, 1fr);
  align-items: center;
  justify-content: center;
  background-color: var(--clr-accent);
  color: white;
  border-radius: 1em;
  /* width: 70%; */
  margin: 1em 1em;
  padding: 0.6em 0;
  box-shadow: var(--shadow-button)
}
  
.item-a { grid-area: 1 / 1 / 4 / 2; }
.item-b { grid-area: 1 / 2 / 3 / 3; }
.item-c { grid-area: 3 / 2 / 4 / 3; }
.item-d { grid-area: 1 / 3 / 4 / 4; }

.tanggal > h3 {
  font-size: 2.5rem;
}

.text_closing {
  margin: 1em 1em;
  font-style: italic;
  max-width: 60ch;
}
.marginx{
  margin: 2em 0;
}

/* counter section */
.counter {
  grid-template-columns: 1fr;
}

/* swiper or carousel  section*/
/* .swiper-slide img{
  border-radius: 2em;
  margin: 2em 0.5em;
  box-shadow: var(--shadow-card);
  width: 85%;
} */

.swiper-wrapper{
  width: 80vw;
  height: 600px;
  overflow: hidden;
  position: relative;
  border-radius: 2em;
  box-shadow: var(--shadow-card);
  margin: 2em 0em;
}
.swiper-slide {
  border-radius: 2em;
  position: absolute;
  width: 100%;
  height: 100%;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  opacity: 0;
  transition: opacity 200ms ease-in-out;
  transition-delay: 200ms;
  transition: transform 10s linear;
}

.swiper-slide[data-active] {
  opacity: 1;
  transform: scale(1.2);
  transition-delay: 0ms;
}

.slide-1 {
  background-image: url(assets/img/foto-slide-1.jpg);
}
.slide-2 {
  background-image: url(assets/img/foto-slide-2.jpg);
}
.slide-3 {
  background-image: url(assets/img/foto-slide-3.jpg);
}

/* swiper button */
.swiper-button-prev img,
.swiper-button-next img{
  background-color: var(--clr-accent);
  box-shadow: var(--shadow-button);
  opacity: 90%;
  width: 2em;
  height: 2em;
  margin: 0.6em;
  border-radius: 50%;

  cursor: pointer;
}

.swiper-button-prev img{
  transform: scaleX(-1);
}

.swiper-button-prev {
  position: absolute;
  top: 50%;
  left: -7%;
  z-index: 5;
}
.swiper-button-next {
  position: absolute;
  top: 50%;
  right: -7%;
  z-index: 5;
}

/* footer section */
footer {
  background-color: var(--clr-primary);
  display: flex;
  justify-content: space-around;
  align-items: center;
  min-height: 30vh;
  color: var(--clr-accent);
}

.text-right {
  text-align: right;
}
.text-left {
  text-align: left;
}


/* Header & Footer Name Inisial */
.logo {
  font-family: var(--ff-cursive);
  font-size: 1.5rem;
  text-shadow: var(--shadow-text)
}
.m-logo{
  position: relative;
  top: 1.2em;
  right: 0.8em;
}
.h-logo{
  position: relative;
  bottom: 0.8em;
  left: 0.2em;
}

/* media queries */

/* for desktop */
@media (min-width: 50em){ 
  .gridspan2 {
    grid-column: span 2;
  }
  .borderCard {
    width: 70vw;
    padding: 2em;
    grid-template-columns: repeat(2, 1fr);
  }

  .counter {
    grid-template-columns: 1fr;
  }

  /* header background */
  header {
    background-image: url(assets/img/floral_header_desktop.png);
  }
  
  .swiper-wrapper {
    width: 40vw;
    height: 750px;
  }

  /* ornament separator on desktop*/
  .nama::after {
    content: '';
    width: 4rem;
    height: 3rem;
    position: absolute;
    background-repeat: no-repeat;
    background-size: cover;
    background-image: url(assets/img/floral_separator.png);
  }

}

@media (max-width: 50em) {
  /* ornament separator on mobile */
  .floralSeparator::before {
    display: block;
    width: 3rem;
    height: 2.2rem;
    content: '';
    left: 38%;
    bottom: 2rem;
    position: relative;
    background-repeat: no-repeat;
    background-size: cover;
    background-image: url(assets/img/floral_separator.png);
}
}



/* -- animation -- */
/* animation on header-page*/
@keyframes zoom {
  0% {
    transform: scale(0.95, 0.95);
    opacity: 0;
    filter: blur(5px);
  }
  50% {
    transform: scale(1.0,5, 1.0,5);
    opacity: 1;
    filter: blur(0);
  }
  100% {
    transform: scale(1, 1);
  }
}

@keyframes fadeTop {
	from {
    opacity: 0;
		transform: translateY(-50%);
	}
	to {
		opacity: 1;
		transform: translateY(0);
	}
} 

.anim_zoom {
  animation: zoom 2s;
}
.anim_fade-top{
  animation: fadeTop 1.5s ease-in ;
}

/* animation using IntersectionObserver on Main page */
/* add "anim" class on element that you want to add animation */

.fade-left,
.fade-right,
.fade-top,
.fade-bot,
.fade-zoom {
  opacity: 0;
  transition: 1.5s all ease-in-out;
}

.fade-left {
  transform: translateX(-2em);
}
.fade-right {
  transform: translateX(2em);
}
.fade-top {
  transform: translateY(-2em);
}
.fade-bot {
  transform: translateY(2em);
}
.fade-zoom {
  transform: scale(0.9);
}

.fade-left.animate,
.fade-right.animate{
  opacity: 1;
  transform: translateX(0); 
}

.fade-top.animate,
.fade-bot.animate{
  opacity: 1;
  transform: translateY(0); 
}

.fade-zoom.animate {
  opacity: 1;
  transform: scale(1);
}

.ripple {
  animation: 1s ease-in-out infinite;
}
@keyframes ripple {
  from {
    opacity: 1;
    transform: scale3d(0.75,0.75,1);
  }
  
  to {
    opacity: 0;
    transform: scale3d(2,2,1);
  }
}