@font-face {
  font-family: 'Raleway';
  font-weight: 600;
  src:  url('../assets/font/Raleway-SemiBold.woff2') format('woff2'),
        url('../assets/font/Raleway-SemiBold.woff') format('woff');
}

.simply-countdown {
  overflow: hidden;
  display: flex;
  font-family: 'Raleway', sans-serif;
  font-weight: 600;
  padding-top: 0;
}
.simply-countdown > .simply-section {
  width: 4rem;
  height: 4rem;
  padding: 0.5em;
  margin: 0em 0.1em 0em 0.1em;

  display: flex;
  align-items: center;
  justify-content: center;
  
  background: #d8a815;
  color: white;
  box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 1px 3px 1px;
  border-radius: 1em;
}

.simply-countdown > .simply-section .simply-amount,
.simply-countdown > .simply-section .simply-word {
  display: block;
  text-align: center;
}

.simply-amount {
  font-size: 2rem;
}
.simply-word {
  font-size: 0.8rem;
}

/* for desktop */
@media (min-width: 50em){ 
  
  .simply-countdown > .simply-section {
    padding: 3em;
    margin: 1em;
  }
  
}

